@import "../../../../styles/variables.scss";

:host {
  display: grid;
  gap: 1rem;
  position: sticky;
  top:0;
  .info {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 1.3rem;
      font-weight: 500;
    }
    .actions {
      display: flex;
      gap: 1rem;
    }
  }

  .search {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    position: relative;
    box-shadow: 0 1px 0 0 $soft-grey;
    background-color: rgb(55, 55, 55);
    .svg-con {
      width: 0.8rem;
      aspect-ratio: 1/1;
      padding: 0.5rem 0 0.5rem 0.5rem;
    }
    input {
      background-color: inherit;
      width: calc(100% - 1rem);
      padding: 0.5rem;
      border-radius: 0.2rem;
      color: $white;

      &::placeholder {
        opacity: 1;
        color: $soft-grey;
      }
    }
  }
}
