<li (click)="selectedChat.emit(chat)">
    <div class="img-con">
        <svg-avatar />
    </div>
    <div class="info">
        @if(chat.users && chat.users.length > 1){

        <h2>{{chatWith}}</h2>
        }
        @if(chat.messages &&chat.messages.length>0 ){
        <h3>{{chat.messages[chat.messages.length - 1].createAt|customDate}}</h3>
        }
    </div>
    @if(chat.messages && chat.messages.length > 0 ){

    <h3 class="last-msg">{{chat.messages[chat.messages.length - 1].message}}</h3>
    }

</li>