form {
    min-height: 20rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    h3 {
      padding-top: 1rem;
      font-size: 1rem;
      font-weight: 400;
    }
    input {
      background-color: gainsboro;
      border-radius: 1rem;
      padding-inline: 1rem;
      min-height: 2rem;
    }
  }