@import "../../../../styles/variables.scss";
:host {
  padding-inline: 1.5rem;
  color: $white;
  background-color: $secondary-bg;
  padding-block: 2rem;
  border: 1px solid $black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  height: calc(100vh - 4.2rem );
  
  ul {
    overflow: auto;
    &::-webkit-scrollbar{
      display: none;
      
    }
    display: grid;
    gap: 1rem;
  }
}
