$teal-green: #128c7e;
$teal-green-dark: #075e54;
$light-green: #25d366;
$dark-green: #0e5f25;
$blue: #34b7f1;
$highlight-grey: rgb(97, 97, 97);
$light-grey: rgb(32, 44, 51);
$black: #111b21;
$white: #f5f5f5;

$main-bg: rgb(32,32,32);
$secondary-bg: rgb(41,41,41);
$soft-grey: rgb(184, 183, 183);
$hover-grey: rgb(64, 64, 64);
