@import "../../../styles/variables.scss";

section {
  box-sizing: border-box;
  padding: 2rem;
  background-color: $main-bg;
  height: 100vh;
  padding: 2rem 12rem 2rem 12rem;
  position: relative;
  display: grid;
  gap: 1rem;
  .hero {
    background-color: $main-green;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: auto;

    .over {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -5%);
      display: flex;
      align-items: center;
      gap: 1rem;

      .svg-con {
        width: 3rem;
      }

      h1 {
        color: $text-color;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -7%;
      left: -5%;
      width: 110%;
      height: 39%;
      overflow: hidden;
      background-color: $main-bg;
      border-top-left-radius: 50% 100%;
      border-top-right-radius: 50% 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    button {
      background-color: $main-green;
      padding: 1rem;
      border-radius: 0.5rem;
      color: $text-color;
    }
  }
}
