@if(!chat ||!user){
<h1>NO CHAT</h1>
}
@else {

<div class="chat-container">
  <div class="messages">
    <div *ngFor="let message of chat.messages" [ngClass]="{'green': user.username === message.senderUserName}">
      <p>{{message.senderUserName}}</p>
      <p >
        {{ message.text }}
      </p>
      <p>{{message.createAt|customDate}}</p>
    </div>
  </div>
  <input [(ngModel)]="message" (keydown.enter)="sendMessage()" placeholder="Type a message..." />
  <button (click)="sendMessage()">Send</button>
</div>
}