@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
:host {
  height: calc(100vh - 4rem);
  

  .logo-con {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-150%, -50%);
    aspect-ratio: 1/1;
    width: 8rem;
  }
  .chat-container {
    box-sizing: border-box;
    > * {
      box-sizing: border-box;
    }
    height: 100vh;
    color: $white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include bg-pattern;

    header {
      display: flex;
      align-items: center;
      min-height: 4rem;
      padding-left: 1rem;
      gap: 1rem;
      justify-items: center;
      background-color: $main-bg;
      img {
        width: 2rem;
        height: 2rem;
        border-radius: 100vh;
      }
    }
    .messages {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      height: calc(100% - 11rem);
      overflow-y: auto;
      @include custom-scrollbar;
    }

    .message {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 70%;
      padding: 0.5rem;
      background-color: $main-bg;
      border-radius: 0.5rem;
      gap: 0.25rem;
      position: relative;

      .date {
        align-self: flex-end;
        font-size: 0.7rem;
      }

      .text {
        font-weight: 400;
      }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: -3%;
      //   left:-1.9%;
      //   rotate: 25deg;
      //   border-top: 5px solid transparent;
      //   border-bottom: 5px solid transparent;
      //   border-right: 10px solid $main-bg;
      // }
    }
    .green {
      background-color: $dark-green;
      align-self: flex-end;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 1rem;
      width: 100%;
      min-height: 3rem;
      background-color: $main-bg;
      input {
        color: $white;
        width: 80%;
        min-height: 2rem;
        background-color: inherit;
        font-size: 1rem;
      }

      button {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
