@if(!chat ||!user){
  <div class="logo-con">
    <svg-logo />
  </div>


}
@else {

<div class="chat-container">
  <header>
    <div class="img-con">
      <svg-avatar />
    </div>
    <h3>{{chat.users[1].username}}</h3>
  </header>
  <div class="messages" #messagesContainer>
    <div *ngFor="let message of chat.messages" class="message"
      [ngClass]="{'green': user.username === message.senderUserName}">
      <!-- <p class="name">{{message.senderUserName}}</p> -->
      <p class="text">
        {{ message.text }}
      </p>
      <p class="date">{{message.createAt|customDate}}</p>
    </div>
  </div>
  <div class="actions">

    <input [(ngModel)]="message.text" (keydown.enter)="sendMessage()" placeholder="Type a message" />
    <button (click)="sendMessage()"><svg-send /></button>
  </div>
</div>
}